
.gcc-kdr-filter-container {
  justify-content: flex-start !important;
  max-width: 160px;
  min-width: 130px;
}

.gcc-my-lobby-player {
  padding-right: 5px;
}

.gcc-marks-container {
  display: inline-block;
}

.gcc-kdr-wrapper {
  .gcc-mark {
    font-size: 10px !important;
    margin-right: 2px;
  }
}