
.gcc-kdr-filter-container {
  justify-content: flex-start !important;
  max-width: 160px;
  min-width: 130px;
}

.gcc-my-lobby-player {
  padding-right: 5px;
}

.gcc-marks-container {
  display: inline-block;
}

.gcc-kdr-wrapper {
  .gcc-mark {
    font-size: 10px !important;
    margin-right: 2px;
  }
}

.gcc-team-player {
  width: 100%;
}

.gcc-pre-match-player {
  display: block;
  min-width: 45px;
}

#gcc-player-progress-container {
  width: 500px;
  z-index: 99999;
  display: block;
  position: relative;
}