
@import '~vue-slider-component/theme/default.css';

.vue-slider-dot-handle {
  cursor: grab;

  &:hover {
    transform: scale(1.2);
  }
}

.vue-slider-mark-label {
  font-size: 10px !important;
  cursor: pointer;
}

.gcc-kdr-filter-label {
  justify-content: flex-start !important;
}